*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-1: hsl(0, 0%, 63%);
  --primary-2: hsl(0, 0%, 0%);
  --primary-3: hsl(0, 0%, 100%);
  --primary-4: hsl(0, 0%, 27%);
  --font-fam: "League Spartan", sans-serif;
  --font-w-1: 500;
  --font-w-2: 600;
  --font-w-3: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: var(--font-fam);
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 0.25fr 1.25fr;
  grid-template-rows: 64vh 6vh 30vh;
  z-index: 0;
}
main nav,
main .main-hero-img {
  grid-column: 1/3;
  grid-row: 1/3;
}
main nav {
  z-index: 2;
}
main .main-hero-img {
  z-index: 1;
}
main .main-hero-txt {
  grid-column: 3/-1;
  grid-row: 1/3;
}
main .container-lower {
  grid-column: 1/-1;
  grid-row: 3/4;
}
main .buttons-arrow {
  grid-column: 3/4;
  grid-row: 2/3;
}

.container-nav {
  margin: 8rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.container-nav #logo {
  height: 2rem;
}
.container-nav ul {
  display: flex;
  gap: 2rem;
}
.container-nav ul li {
  list-style: none;
}
.container-nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--primary-3);
}
.container-nav ul li a:hover {
  padding-bottom: 0.4rem;
  border-bottom: 0.2rem solid var(--primary-3);
}

#hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.main-hero-img {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main-hero-img .main-hero-img__track {
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 500ms ease-in;
}
.main-hero-img .main-hero-img__track .main-hero-img__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.main-hero-txt {
  position: relative;
}
.main-hero-txt .main-hero-txt__track {
  list-style: none;
  position: relative;
}
.main-hero-txt .main-hero-txt__track .main-hero-txt__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.de-active-hero {
  display: none;
}

.main-hero-txt__content {
  width: 100%;
  height: 100%;
  padding: 10rem;
}
.main-hero-txt__content h1 {
  width: 16ch;
  font-size: 4rem;
  font-weight: var(--font-w-3);
  padding-bottom: 2rem;
}
.main-hero-txt__content p {
  font-size: 1.6rem;
  font-weight: var(--font-w-1);
  width: 42ch;
  padding-bottom: 2rem;
  line-height: 1.25;
  color: var(--primary-1);
}
.main-hero-txt__content span {
  color: var(--primary-1);
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  cursor: pointer;
}
.main-hero-txt__content img {
  padding-left: 2rem;
}

.buttons-arrow {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-arrow button {
  padding: 1.6rem 2rem;
  background-color: rgb(2, 2, 2);
}
.buttons-arrow button img {
  height: 2rem;
  width: 2rem;
  z-index: 2;
}
.buttons-arrow button:hover,
.buttons-arrow button:active {
  cursor: pointer;
}
.buttons-arrow button:hover {
  opacity: 0.8;
}
.buttons-arrow button:active {
  opacity: 0.5;
}

.container-lower {
  display: flex;
}
.container-lower div {
  padding: 6rem;
  width: 100%;
}
.container-lower div h3 {
  text-transform: uppercase;
  font-weight: var(--font-w-2);
  padding-bottom: 2rem;
  font-size: 2rem;
}
.container-lower div p {
  width: 55ch;
  font-weight: var(--font-w-1);
  line-height: 1.25;
  font-size: 1.4rem;
  color: var(--primary-1);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */