/* 
## Colors

### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)

## Typography

### Body Copy

- Font size: 14px

### Font

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700 */

:root {
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

@media only screen and (min-width: 90em) /*1440px */ {
  .container {
    align-items: flex-end;
  }

  .logo-fylo {
    padding: 15px 50px 15px 15px;
    align-items: flex-start;
    padding-top: 45px;
  }

  .fylo-txt {
    height: 50px;

    margin: 0 15px;
    padding: 50px 20px;
    max-width: 500px;
    width: 100%;
  }

  .fylo-txt .progress-bar {
    height: 080px;
    width: 100%;
    border-radius: 6px;
    padding: 2px;
  }

  .progress-bar #progress-background {
    padding: 4px 0 4px 0;
    height: 100%;
    width: 80%;
    border-radius: 6px;
    animation: progress 0.5s ease-in-out forwards;
    opacity: 0;
  }

  #progress-background #callout {
    right: -70px;
    top: -82px;
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
    border-radius: 4px 4px 0 4px;
  }

  #progress-background #dot {
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    left: 98%;
    top: 0;
    margin-inline: auto;
  }

  #callout::before {
    /* bottom triangle */
    right: -32px;
    top: 19px;
    height: 6px;
    width: 6px;
    border-left: 20px solid transparent;
    border-top: 20px solid #ffffff;

    margin: 2rem;
  }

  #progress-value {
    width: 175%;
    padding-top: 4px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 79.4em) /*1270px*/ {
}

@media only screen and (max-width: 64em) /*1024 px*/ {
}

@media only screen and (max-width: 48em) /*768px*/ {
}

@media only screen and (max-width: 23.5em) /*375px*/ {
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;

  background-color: var(--Very-Dark-Blue);
}

.container {
  /* margin: 25vh 25vw; */

  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  bottom: -40vh;
  left: 30vw;
  z-index: 1;

  width: 720px;
}

.logo-fylo {
  display: flex;
  flex-direction: column;

  border-radius: 5px 80px 5px 5px;
  background-color: var(--Dark-Blue);
}

#logo-1 {
  width: 100px;
  padding-left: 20px;
}

#icon-fylo {
  display: flex;
  padding: 15px;
}

#icon-fylo img {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--Very-Dark-Blue);
}

/* ------------------------------------------------------------------------------------------ */

.fylo-txt {
  background-color: var(--Dark-Blue);
  border-radius: 10px;

  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fylo-txt #progress-title {
  display: block;
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 5px;
}

.fylo-txt .progress-bar {
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar #progress-background {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

  position: relative;

  display: block;
}

#progress-background #callout {
  position: absolute;

  background-color: white;
  color: black;

  z-index: 1;
}

#progress-background #dot {
  display: block;
  background-color: #ffffff;
}

#txt {
  font-size: 0.625em;
  font-weight: 400;
}

#callout::before {
  /* bottom triangle */

  content: " ";
  position: absolute;

  z-index: -1;
}

#progress-value {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* ------------------------------------------------------------------------------------------------------ */
.back_img {
  display: block;
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0;

  padding-top: 25vh;
  padding-bottom: 25vh;
  width: 100vw;
}
/* ---------------------------------------------------------------attribution--------------------------------------------------   */
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50vw;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
