/* Set core body defaults */
body {
  line-height: 1.5;
  height: 100vh;

  /* ----------------------------------------------------------
    Base Background Behavior
---------------------------------------------------------- */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
