:root {
  --gallery-width: calc((var(--thumb-size) * 4) + (var(--thumbs-gap) * 3));
}

/* ======================================================
   Main Image
====================================================== */

.c-gallery__main-img {
  width: var(--gallery-width);
  border-radius: 1rem;
}

/* ======================================================
   Thumbnails
====================================================== */
.c-gallery__thumbs {
  display: flex;
  gap: var(--thumbs-gap);
}

.c-gallery__thumb-img {
  width: var(--thumb-size);
  border-radius: 0.8rem;
  cursor: pointer;
  display: block;
  transition:
    opacity 0.2s ease,
    border 0.2s ease;
  border: 0.3em solid transparent;
}

/* hover effect */

.c-gallery__thumb-img:hover {
  opacity: 0.6;
}

/* active thumbnail */

.c-gallery__thumb-img.is-active {
  opacity: 0.6;
  border: 0.3em solid var(--color-primary);
}

@media (max-width: 768px) {
  /* tablet layout */

  :root {
    --thumbs-gap: 0.5rem;
    --thumb-size: 6rem;
  }
}
@media (max-width: 480px) {
  .c-gallery__thumbs {
    display: none;
  }
  .c-gallery__main-img {
    width: 100%;
    border-radius: 0;
  }

  .l-gallery {
    width: 100%;
    padding: 0;
  }
}
