.c-logo {
  height: 2.4rem;
}

.c-nav__item {
  position: relative;
  cursor: pointer;
  color: var(--color-gray);
}

.c-nav__item:hover {
  color: var(--color-black);
}

.c-nav__item:hover::after {
  content: "";
  position: absolute;
  inset-inline: 0;

  bottom: calc(-1 * var(--nav-underline-offset));
  height: var(--nav-underline-height);

  background: var(--color-primary);
}

.c-avatar {
  height: 5rem;
  cursor: pointer;
  border-radius: 50%;
}

.c-avatar:hover {
  border: 2px solid var(--color-primary);
}
