.c-logo {
  height: 2.4rem;
}

.c-nav__item {
  position: relative;
  cursor: pointer;
  color: var(--color-gray);
}

.c-nav__item:hover {
  color: var(--color-black);
}

.c-nav__item:hover::after {
  content: "";
  position: absolute;
  inset-inline: 0;

  bottom: calc(-1 * var(--nav-underline-offset));
  height: var(--nav-underline-height);

  background: var(--color-primary);
}

.c-avatar {
  height: 5rem;
  cursor: pointer;
  border-radius: 50%;
}

.c-avatar:hover {
  border: 2px solid var(--color-primary);
}

@media (max-width: 768px) {
  /* tablet layout */

  .c-cart-icon {
    scale: 0.8;
  }
}

@media (max-width: 640px) {
  /* large phone layout */
  .c-logo {
    height: 1.2rem;
  }
  .c-avatar {
    height: 4rem;
  }

  :root {
    --header-padding: 3rem;
  }
}

@media (max-width: 480px) {
  .l-nav__item-list {
    flex-direction: column;
  }
}
