.c-logo {
  height: 2.4rem;
}

.c-nav__item {
  padding-bottom: 4rem;
  cursor: pointer;
}

.c-nav__item:hover {
  border-bottom: 4px solid var(--color-primary);
}

.c-avatar {
  height: 5rem;
  cursor: pointer;
  border-radius: 50%;
}

.c-avatar:hover {
  border: 2px solid var(--color-primary);
}

.c-cart-icon {
  height: 2.4rem;
  cursor: pointer;
}

.c-cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--color-primary);
  color: white;
  font-size: 1rem;
  padding: 2px 5px;
  border-radius: 5px;
}
