.c-lightbox-contents {
  max-width: 45rem;
  width: 100%;
}

.c-btn-lightBox {
  width: 4rem;
  aspect-ratio: 1;

  background: var(--color-white);
  border-radius: 50%;

  border: none;
  cursor: pointer;
}

.btn-prev {
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}
.btn-next {
  top: 50%;
  right: -2rem;
  transform: translateY(-50%);
}
.btn-close {
  top: -3rem;
  right: 0;
  background: transparent;
}

@media (max-width: 480px) {
  .l-lightbox-modal {
    position: relative;
    inset: auto;
    background: transparent;
    backdrop-filter: none;
  }

  .btn-prev {
    left: 1rem;
  }
  .btn-next {
    right: 1rem;
  }
  .btn-close {
    display: none;
  }
}
