/* =========================================
   MAIN LAYOUT
========================================= */

.app {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding: 4rem clamp(2rem, 6vw, 8rem);
}

.bg-hero {
  background-image: url("../../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 35% 100%;
}

.app__preview {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 42rem;
}

.app__form,
.modal {
  max-width: 42rem;
  width: 100%;
  justify-self: center;
}
