/* =========================================
   MAIN LAYOUT
========================================= */

.app {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding: var(--space-lg);
}

.bg-hero {
  background-image: url("../../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 35% 100%;
}

.app__preview {
  position: relative;
  width: 100%;
  height: clamp(35rem, 55vh, 60rem);

  display: flex;
  justify-content: center;
  align-items: center;
}

.app__form,
.modal {
  max-width: 42rem;
  width: 100%;
  justify-self: center;
}
