html {
  line-height: 1.15;
  font-size: 62.5%;
}

body {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  font-family: "Space Grotesk", sans-serif;

  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}
