@use "../abstracts" as *;
/* ==========================================================
   COMPONENT → NAVIGATION
   ----------------------------------------------------------
   Desktop-first styling
   Horizontal layout by default
   Collapses for smaller screens
========================================================== */

.c-nav__list {
  display: flex;

  gap: token-space(500); // assuming spacing scale key
 
  @include apply-text(preset-8);

  list-style: none;
  align-items: center;
  justify-content: flex-end;
}



/* Stack nav vertically on tablets and below */
@include respond-down(md) {
  .c-nav__list {
    flex-direction: column;
    gap: token-space(50);
  }
}

.c-nav__item {
 
  cursor: pointer;
  text-transform: uppercase;
  color:token-color(primary);


 span{  
   padding-left:0.4rem;
 }

  position: relative;

  &.is-active > .c-nav__nav-heading{
    color:token-color(blue-900)
  }

  /* Animated underline */
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.6rem;
    width: 110%;
    height: 0.4rem;
    background: token-color(primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition;
  }

  &:hover::after,

  &.is-active::after {
    transform: scaleX(1);

  }
}
