/* =========================
   COMPOSITION
========================= */

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100svh;
}
main {
  display: flex;
  flex-direction: column;

  position: relative;
  max-width: 160rem;
}
