:root {
  --colorStyle-1: #fff;
  --colorStyle-2: hsl(0, 0%, 59%);
  --colorStyle-3: hsl(0, 0%, 17%);
  --colorStyle-4: #000;
  --fSize: 1.8rem;
  --fStyle: "Rubik", sans-serif;
  --fw--1: 400;
  --fw--2: 500;
  --fw--3: 700; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--fStyle);
  font-size: 62.5%;
  z-index: -1;
  overflow: hidden; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  /* Set map container size */ }
  main picture {
    z-index: 0; }
  main .container {
    z-index: 2;
    position: absolute;
    left: 25%;
    top: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
  main #map {
    z-index: 0;
    min-height: 60vh;
    border: 0;
    margin: 0; }

picture {
  background-image: url("../img/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh; }

.container #title {
  font-size: 1.8rem;
  font-weight: var(--fw--1);
  color: var(--colorStyle-1); }

.container .search-bar {
  background-color: #fff;
  border-radius: 1rem; }

.container ol {
  list-style: none;
  padding: 1rem;
  background: var(--colorStyle-1);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.8rem var(--colorStyle-2);
  display: inline-flex;
  gap: 1rem;
  align-items: center; }
  .container ol li {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4rem;
    padding: 1rem 2rem 1rem 1rem; }
    .container ol li #ip-address-info,
    .container ol li #location-info,
    .container ol li #timezone-info {
      position: relative; }
    .container ol li #ip-address-info::after,
    .container ol li #location-info::after,
    .container ol li #timezone-info::after {
      position: absolute;
      top: -2rem;
      right: -2rem;
      content: "";
      width: 0.02rem;
      height: 4rem;
      background-color: var(--colorStyle-2); }
    .container ol li h4 {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      font-weight: var(--fw--2);
      color: var(--colorStyle-2);
      text-transform: uppercase; }
    .container ol li p {
      font-size: 1.8rem;
      font-weight: var(--fw--2);
      color: var(--colorStyle-4); }

.search-bar {
  width: 45rem;
  display: inline-flex; }
  .search-bar .search-input {
    border: 0;
    background: white;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    outline: 0;
    padding: 1rem;
    width: 100%;
    cursor: pointer; }
  .search-bar .search-submit {
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    background: #000;
    padding: 1rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    cursor: pointer; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
