/* =========================
   CONTAINER
========================= */

.l-container {
  width: min(120rem, 90%);
  margin-inline: auto;
}

/* =========================
   STACK (vertical spacing)
========================= */

.l-stack > * + * {
  margin-top: var(--space, 1rem);
}

/* =========================
   CLUSTER
========================= */

.l-cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

/* =========================
   SIDEBAR
========================= */

.l-sidebar {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
}

/* =========================
   SWITCHER
========================= */

.l-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.l-switcher > * {
  flex-grow: 1;
  flex-basis: 250px;
}

/* component layout */
.l-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.l-header {
  width: 100%;
  padding: 2rem;
}
.l-filters {
  width: 100%;
  padding: 4rem 0;
}

.l-countries {
  width: 100%;
}

/* @media (max-width: 640px) {
  /* large phone layout * b/
}

@media (max-width: 480px) {
}

.l-details-layout {
  display: grid;
  gap: 4rem;
}

.l-details-meta {
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .l-details-layout {
    grid-template-columns: 1fr 1fr;
  }

  .l-details-meta {
    grid-template-columns: repeat(2, 1fr);
  }
} */
