*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --neutral-1: hsl(0, 0%, 98%);
  --neutral-2: hsl(0, 0%, 41%);
  --neutral-3: hsl(0, 0%, 8%);
  --font-fam: "Epilogue", sans-serif;
  --font-w-1: 500;
  --font-w-2: 700; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: var(--font-fam);
  font-weight: var(--font-w-1);
  display: grid;
  grid-template-rows: 10% 88% 2%;
  max-height: 100vh;
  overflow: hidden; }

a {
  color: black; }

header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.arrows {
  display: inline-block;
  margin-left: -2rem;
  width: 4rem;
  height: 3rem;
  cursor: pointer; }

.arrow-down {
  background: url(../images/icon-arrow-down.svg) no-repeat right; }

.arrow-up {
  background: url(../images/icon-arrow-up.svg) no-repeat right; }

.dropDown-heading {
  display: inline-flex;
  align-items: center; }
  .dropDown-heading span a {
    text-decoration: none; }

.container-nav {
  display: flex;
  gap: 8rem;
  align-items: center; }
  .container-nav #logo {
    height: 4rem; }

.btn-container {
  display: inline-flex;
  gap: 2rem; }
  .btn-container button {
    padding: 1.2rem;
    border-radius: 0.6rem;
    cursor: pointer; }
    .btn-container button a {
      text-decoration: none; }
  .btn-container #btn-null {
    border: none; }

.container-nav-main {
  display: flex;
  gap: 6rem; }
  .container-nav-main .dropDown {
    position: relative; }

.dropDown-options {
  display: none;
  z-index: 10;
  position: absolute;
  top: 4rem;
  left: 45%;
  transform: translateX(-45%);
  list-style: none;
  border-radius: 1rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2); }
  .dropDown-options li {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem;
    width: 11rem;
    font-size: 1.4rem; }
    .dropDown-options li img {
      width: 1.2rem;
      height: 1.2rem; }
    .dropDown-options li a {
      text-decoration: none; }

.dropDown-options-visible {
  display: block; }

main {
  grid-row: 2 / 3;
  height: 88vh;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  gap: 30rem;
  align-items: center; }
  main .main-txt-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem; }
    main .main-txt-body h1 {
      font-size: 6rem; }
    main .main-txt-body p {
      max-width: 45ch;
      line-height: 1.35; }
    main .main-txt-body .btn-full--black {
      border-radius: 1.2rem;
      padding: 1rem;
      width: 16rem;
      cursor: pointer; }
      main .main-txt-body .btn-full--black a {
        color: black;
        font-size: 1.8rem;
        font-weight: var(--font-w-2);
        text-decoration: none; }
  main .clients-logos {
    display: inline-flex;
    gap: 2.4rem; }
    main .clients-logos img {
      height: 2rem; }
  main .hero-img-container .hero-img {
    display: none; }

footer {
  grid-row: 3 / 4; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

@media (min-width: 721px) {
  .hero-img-container .hero-img-desktop {
    display: block;
    width: 50%;
    height: 50%; }
  .hero-img-container .hero-img-mobile {
    display: none; }
  .hamburger-button {
    display: none; } }

@media screen and (max-width: 720px) {
  .hamburger-button {
    position: fixed;
    right: 4rem;
    z-index: 4; }
    .hamburger-button .nav-checkbox {
      display: none; }
    .hamburger-button .nav-checkbox:checked ~ .nav-background {
      transform: scale(2);
      display: block; }
    .hamburger-button .nav-checkbox:checked + .nav-button .nav-icon {
      background: transparent; }
    .hamburger-button .nav-checkbox:checked + .nav-button .nav-icon::before {
      transform: rotate(45deg);
      top: 0; }
    .hamburger-button .nav-checkbox:checked + .nav-button .nav-icon::after {
      top: 0;
      transform: rotate(-45deg); }
    .hamburger-button .nav-button {
      height: 6rem;
      aspect-ratio: 1;
      text-align: center;
      cursor: pointer;
      z-index: 10; }
      .hamburger-button .nav-button .nav-icon {
        position: relative;
        margin-top: 3.25rem; }
        .hamburger-button .nav-button .nav-icon, .hamburger-button .nav-button .nav-icon::before, .hamburger-button .nav-button .nav-icon::after {
          width: 3rem;
          height: 0.2rem;
          background: #000000;
          display: inline-block; }
        .hamburger-button .nav-button .nav-icon::before, .hamburger-button .nav-button .nav-icon::after {
          content: " ";
          position: absolute;
          left: 0;
          transition: all 0.2s; }
        .hamburger-button .nav-button .nav-icon::before {
          top: -1rem; }
        .hamburger-button .nav-button .nav-icon::after {
          top: 1rem; }
      .hamburger-button .nav-button:hover .nav-icon::before {
        top: -1rem; }
      .hamburger-button .nav-button:hover .nav-icon::after {
        top: 1rem; }
    .hamburger-button .nav-background {
      display: none;
      z-index: -20;
      height: 100%;
      padding: 12rem;
      border-radius: 0.2rem;
      position: fixed;
      top: 36rem;
      right: 0rem;
      background: #fff;
      box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  header {
    position: relative; }
  .dropDowns {
    position: absolute;
    display: none;
    top: 10rem;
    right: 20%;
    transform: translateX(-20%); }
  .btn-container {
    position: fixed;
    bottom: 10%;
    right: 10%;
    transform: translateX(-10%);
    width: 40%; }
  .dropDown-options {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); }
    .dropDown-options li {
      padding: 1rem;
      width: auto; }
      .dropDown-options li img {
        width: 2rem;
        height: 2rem; }
  .dropDown-spacing-1 {
    margin-top: 14rem; }
  .dropDown-spacing-2 {
    margin-top: 10rem; }
  header {
    padding: 3rem;
    /* Reduce header padding for smaller screens */ }
    header .container-nav-main {
      display: none; }
    header .btn-container {
      display: none; }
    header .dropDowns-visible {
      display: inline-flex;
      flex-direction: column;
      z-index: 15; }
    header .btn-container-visible {
      display: inline-flex;
      flex-direction: column;
      z-index: 15; }
  .container-nav {
    gap: 4rem;
    /* Decrease gap between elements in navigation for smaller screens */ }
  main {
    padding: 0rem;
    /* Reduce main padding for smaller screens */
    grid-template-columns: 1fr;
    /* Switch to single column layout for smaller screens */
    grid-template-rows: auto;
    /* Allow main content to grow vertically */
    gap: 0rem;
    /* Decrease gap between main elements for smaller screens */ }
    main .main-txt-body {
      grid-row: 2 / 3;
      align-items: center;
      gap: 2rem; }
      main .main-txt-body h1 {
        font-size: 4rem;
        /* Decrease heading font size for smaller screens */ }
      main .main-txt-body p {
        text-align: center; }
      main .main-txt-body .btn-full--black {
        background: black;
        border: none; }
        main .main-txt-body .btn-full--black a {
          color: white; }
    main .clients-logos {
      padding: 2rem 0;
      flex-wrap: wrap;
      /* Allow logos to wrap to next line on smaller screens */ }
    main .hero-img-container {
      grid-row: 1 / 2; }
      main .hero-img-container .hero-img-desktop {
        display: none;
        /* Hide desktop image on smaller screens */ }
      main .hero-img-container .hero-img-mobile {
        display: block;
        max-width: 50rem; }
  .background-blur-effect {
    background-color: rgba(0, 0, 0, 0.5); } }
