*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-w: 700;
  --font-fam: "Red Hat Text", sans-serif; //(https://fonts.google.com/specimen/Red+Hat+Text)

  //   ## Colors
  // ### Primary

  --primary-1: hsl(237, 18%, 59%); // - Grayish blue
  --primary-2: hsl(345, 95%, 68%); // - Soft red

  // ### Neutral

  --neutral-1: hsl(0, 0%, 100%); // - White
  --neutral-2: hsl(236, 21%, 26%); // - Dark desaturated blue
  --neutral-3: hsl(235, 16%, 14%); // - Very dark blue:
  --neutral-4: hsl(234, 17%, 12%); // - Very dark (mostly black) blue
}
html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: center;
  justify-content: space-between;

  font-family: var(--font-fam);
  font-size: 1.4rem;
  background-color: var(--neutral-3);

  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  width: 100%;

  background-image: url(../images/pattern-hills.svg),
    url(../images/bg-stars.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain, cover;
  // position: fixed;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid green;

    h1 {
      // background-color: orange;
      text-transform: uppercase;
      font-weight: var(--font-w);
      color: var(--neutral-1);
      letter-spacing: 0.8rem;

      margin: 5rem 0 2rem 0;
      // border: 2px solid antiquewhite;
    }

    .countdown {
      // border: 2px solid red;
      margin: 15rem 0;
      display: flex;

      list-style: none;
    }
  }
}

.time-section {
  font-size: 3rem;

  text-align: center;

  .time-group {
    display: flex;

    .time-segment {
      display: block;
      letter-spacing: 1rem;
      font-weight: var(--font-w);
      font-size: var(--timeSegment-font-s);
      width: var(--timeSegment-width);
      color: var(--primary-2);
    }
  }
  #txt {
    // border: 2px solid rgba(255, 255, 255, 0.342);
    color: var(--primary-1);
    padding: var(--subTitle-pad);

    // font-size: 1.2rem;
    font-size: var(--subTitle-font-s);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }
}

.segment-display {
  position: relative;
  height: 100%;

  .segment-display__top {
    line-height: var(--lineHeight-top);
    height: 50%;
    width: 100%;
    text-align: center;
    overflow: hidden;

    background-color: hsl(236, 21%, 32%);

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    position: relative;
  }

  .segment-display__bottom {
    line-height: 0;
    height: 50%;
    width: 100%;
    text-align: center;
    overflow: hidden;

    background-color: hsl(236, 21%, 26%);
    box-shadow: 0rem 0.8rem 0.4rem 0.4rem hsla(234, 17%, 12%, 1);

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    // border: 2px solid maroon;
    position: relative;
  }
}

.segment-display__top::before,
.segment-display__top::after,
.segment-display__bottom::before,
.segment-display__bottom::after {
  position: absolute;
  content: " ";
  height: var(--notch-height);
  aspect-ratio: 1;
  background-color: var(--neutral-4);
}

.segment-display__top::before {
  bottom: 0%;
  left: 0%;

  border-radius: 0 100% 0 0;
}
.segment-display__top::after {
  right: 0;
  bottom: 0%;
  border-radius: 100% 0 0 0;
}

.segment-display__bottom::before {
  top: 0;
  left: 0;
  border-radius: 0 0 100% 0;
}

.segment-display__bottom::after {
  right: 0;
  top: 0;
  border-radius: 0 0 0 100%;
}

// overlays

.segment-overlay {
  position: absolute;
  top: 0;
  perspective: 40rem;
  height: 100%;
  width: var(--timeSegment-width);

  // display: none;

  .segment-overlay__top {
    line-height: var(--lineHeight-top);
    height: 50%;
    width: 100%;

    text-align: center;
    overflow: hidden;

    background-color: hsl(236, 21%, 32%);

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    top: 0;

    transform-origin: bottom;
    position: relative; // position: absolute;
  }

  .segment-overlay__bottom {
    line-height: 0;
    height: 50%;
    width: 100%;
    text-align: center;
    overflow: hidden;

    background-color: hsl(236, 21%, 26%);

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    // border: 2px solid maroon;
    border-top: 2px solid var(--neutral-4);

    bottom: 0;
    // position: absolute;
    transform-origin: top;
    position: relative;
  }
}

.segment-overlay__top::before,
.segment-overay__top::after,
.segment-overlay__bottom::before,
.segment-overlay__bottom::after {
  position: absolute;
  content: " ";
  height: var(--notch-height);
  aspect-ratio: 1;
  background-color: var(--neutral-4);
  // z-index: 100;
}

.segment-overlay__top::before {
  bottom: 0%;
  left: 0%;

  border-radius: 0 100% 0 0;
}
.segment-overlay__top::after {
  right: 0%;
  bottom: 00%;
  border-radius: 100% 0 0 0;
}

.segment-overlay__bottom::before {
  left: 0;
  top: 0%;
  border-radius: 0 0 100% 0;
}

.segment-overlay__bottom::after {
  top: 0%;
  right: 0;
  border-radius: 0 0 0 100%;
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

footer {
  background-color: var(--neutral-4);
  height: 100%;
  width: 100%;

  .attribution {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 11px;
    text-align: center;
    color: var(--primary-1);

    a {
      color: var(--primary-1);
    }
  }
}
