*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-1: hsl(26, 100%, 55%);
  --primary-2: hsl(25, 100%, 94%);
  --neutral--1: hsl(220, 13%, 13%);
  --neutral--2: hsl(219, 9%, 45%);
  --neutral--3: hsl(220, 14%, 75%);
  --neutral--4: hsl(223, 64%, 98%);
  --neutral--5: hsl(0, 0%, 100%);
  --neutral--6: hsl(
    0,
    0%,
    0%
  );
  --font-fam: "Kumbh Sans", sans-serif;
  --font-w-1: 400;
  --font-w-2: 700;
  --max-img-width: 20rem;
  --max-img-height: 10rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-fam);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  width: 90%;
  padding-bottom: 2.8rem;
  border-bottom: 0.15rem solid var(--neutral--3);
  position: relative;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
header nav #logo {
  height: 2.4rem;
}
header nav ul {
  display: flex;
  gap: 2rem;
}
header nav ul li {
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  color: black;
  padding-bottom: 4.1rem;
}
header nav ul a:hover {
  border-bottom: 0.4rem solid var(--primary-1);
}
header .profile-cart {
  display: flex;
  gap: 2rem;
  align-items: center;
}
header .profile-cart #icon-cart-main {
  height: 2.4rem;
  cursor: pointer;
  position: relative;
}
header .profile-cart #profile-img {
  height: 5rem;
  cursor: pointer;
}
header .profile-cart #profile-img:hover,
header .profile-cart #profile-img:active {
  border-radius: 50%;
  border: 0.2rem solid var(--primary-1);
}

.cart-visibility {
  display: none;
}

.popUp-cart {
  border-radius: 1rem;
  box-shadow: 2px 4px 40px grey;
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 80%;
}
.popUp-cart h4 {
  padding: 2rem;
  font-weight: var(--font-w-2);
  border-bottom: 2px solid var(--primary-2);
}
.popUp-cart .contents {
  text-align: center;
  padding: 2rem;
}
.popUp-cart .contents .upper-content {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  gap: 1rem;
  justify-content: space-around;
}
.popUp-cart .contents .upper-content #product-img {
  border-radius: 1.2rem;
  width: 6rem;
  aspect-ratio: 1;
}
.popUp-cart .contents .upper-content #remove-item {
  cursor: pointer;
  width: 2rem;
}
.popUp-cart .contents #checkOut {
  border: none;
  cursor: pointer;
  background: var(--primary-1);
  padding: 1.2rem;
  width: 100%;
  border-radius: 1.2rem;
  color: white;
  font-weight: var(--font-w-2);
}

.notification {
  position: relative;
  display: inline-block;
}
.notification #notification-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 2.5px 5px;
  border-radius: 5px;
  background: var(--primary-1);
  color: #fff;
  font-size: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
}
.container-gallery {
  display: flex;
  margin: 1rem auto;
  position: relative;
  max-width: 50rem;
  padding-top: 50rem;
}
@media screen and (min-width: var(--max-img-width)) {
  .container-gallery {
    padding-top: var(--max-img-height);
  }
}

.gallery-item .gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 1rem;
  max-width: 100%;
  vertical-align: top;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.13), 2px 0px 2px -2px rgba(0, 0, 0, 0.16);
}
.gallery-item .gallery-selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery-item .gallery-selector:checked + .gallery-img {
  opacity: 1;
}
.gallery-item .gallery-selector:checked ~ .gallery-thumb > img {
  opacity: 0.5;
}
.gallery-item .gallery-selector:checked ~ .gallery-thumb {
  border: 4px solid var(--primary-1);
  border-radius: 1rem;
  vertical-align: middle;
}
.gallery-item .gallery-thumb {
  padding-top: 0.6rem;
  margin: 0.6rem;
  display: block;
  cursor: pointer;
}
.gallery-item .gallery-thumb img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 1rem;
}

.lightbox {
  background: var(--neutral--6);
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 110;
  position: fixed;
}

.lightbox-container {
  display: flex;
  position: relative;
}
.lightbox-container button {
  border: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox-container .close-btn {
  background: none;
  top: 0;
  right: 0;
  padding: 4rem;
}
.lightbox-container .left-btn {
  padding: 2rem;
  aspect-ratio: 1;
  width: 4rem;
  border-radius: 50%;
  top: 50%;
  left: 0;
}
.lightbox-container .right-btn {
  padding: 2rem;
  aspect-ratio: 1;
  width: 4rem;
  border-radius: 50%;
  top: 50%;
  right: 0;
}
.lightbox-container .lightbox-items {
  position: relative;
  max-width: 10rem;
  padding-top: 10rem;
}

.lightbox-item .lightbox-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 1rem;
  max-width: 100%;
  vertical-align: top;
}
.lightbox-item .lightbox-selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.lightbox-item .lightbox-selector:checked + .lightbox-img {
  opacity: 1;
}
.lightbox-item .lightbox-selector:checked ~ .lightbox-thumb > img {
  opacity: 0.5;
}
.lightbox-item .lightbox-selector:checked ~ .lightbox-thumb {
  border: 4px solid var(--primary-1);
  border-radius: 1rem;
  vertical-align: middle;
}
.lightbox-item .lightbox-thumb {
  padding-top: 0.6rem;
  margin: 0.6rem;
  display: block;
  cursor: pointer;
}
.lightbox-item .lightbox-thumb img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 1rem;
}

.card-txt-body .txt h4 {
  color: var(--primary-1);
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-weight: var(--font-w-1);
}
.card-txt-body .txt h1 {
  font-size: 3.5rem;
  width: 20ch;
  padding-bottom: 1.4rem;
  font-weight: var(--font-w-2);
}
.card-txt-body .txt p {
  width: 50ch;
  line-height: 1.2;
  color: var(--neutral--2);
  padding-bottom: 2.8rem;
}
.card-txt-body .price {
  font-weight: var(--font-w-2);
}
.card-txt-body .price div {
  display: flex;
  align-items: center;
}
.card-txt-body .price #price-bold {
  font-size: 2.4rem;
}
.card-txt-body .price #price-discount {
  margin: 0.5rem;
  color: var(--primary-1);
  padding: 0.4rem 1rem;
  background-color: var(--primary-2);
  border-radius: 1rem;
}
.card-txt-body .price #price-strike {
  padding: 1rem 0;
  color: var(--neutral--3);
}
.card-txt-body .buttons {
  display: flex;
}
.card-txt-body .buttons button {
  border: none;
}
.card-txt-body .buttons .btn-add-sub {
  padding: 1rem 2rem;
  margin-right: 1rem;
  background-color: var(--neutral--4);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.card-txt-body .buttons .btn-add-sub #icon-minus,
.card-txt-body .buttons .btn-add-sub #icon-plus {
  cursor: pointer;
}
.card-txt-body .buttons .btn-cart {
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 1rem;
  background-color: var(--primary-1);
  color: var(--neutral--5);
  font-weight: var(--font-w-2);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */