
<div class="container-mobile--chat">
            <ol>
              <!-- 1 -->
              <li class="msg-left">That sounds great. I’d be happy with that.</li>
              <!-- 2 -->
              <li class="msg-left">Could you send over some pictures of your dog, please?</li>
              <!-- 3 -->
              <li class="msg-right dog-gallery-chat">
                <img src="./images/dog-image-1.jpg" alt="Brown dog sitting" />
                <img src="./images/dog-image-2.jpg" alt="Golden retriever running" />
                <img src="./images/dog-image-3.jpg" alt="Cute puppy lying down" />
              </li>
              <!-- 4 -->
              <li class="msg-right">Here are a few pictures. She’s a happy girl!</li>
              <!-- 5 -->
              <li class="msg-right">Can you make it?</li>
              <!-- 6 -->
              <li class="msg-left">
                She looks so happy! The time we discussed works. How long shall I take her out for?
              </li>
              <!-- 7 -->
              <li class="msg-left msg-price"> 
                <p class="loader"></p>
                30 minute walk
                <p id="price"> $29 </p> 
              </li>
              <!-- 8 -->
              <li class="msg-left msg-price">
                <p class="loader"> </p>
                1 hour walk
                <p id="price"> $49 </p>
            </li>
            </ol>
            <div class="chat-input">
              <input type="text" placeholder="Type a message ... " />
              <button type="submit" class="send-btn">➤ </button>
            </div>
          </div>
        </div>
