/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
  /* The designs were created to the following widths: */
  --width-mobile: 37.5rem; /* 375 px */
  --width-desktop: 144rem; /* 1440 px */

  /*   ----- Colors -------  */

  /* Primary Text */

  --text-purple-300: hsl(276, 100%, 81%); /* (sub-heading at the top of the app UI) */
  --text-purple-600: hsl(276, 55%, 52%); /* (chat on the left): */
  --text-gray-500: hsl(270, 7%, 64%); /* (chat on the right, paragraph) */
  --text-gray-300: hsl(206, 6%, 79%); /* (placeholder text) */
  --text-purple-950: hsl(271, 36%, 24%); /* (main heading) */

  /* Gradients */

  --gradient-pink-500: hsl(293, 100%, 63%);
  --gradient-purple-500: hsl(264, 100%, 61%);
  /* Secondary */

  --secondary-white: hsl(0, 100%, 100%);
  --secondary-gray-100: hsl(270, 20%, 96%); /* (app background) */
  --secondary-purple-950: hsl(271, 36%, 24%); /* (submit button background) */
  --secondary-pink-400: hsl(289, 100%, 72%); /* (radio button outline) */

  /* Typography */

  --font-weights-400: 400;
  --font-weights-500: 500;
  --font-weights-700: 700;
}

/* ======================================================= */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /* Default body text size = 16px */
  background-color: var(--secondary-white);
  color: var(--text-purple-950); /* Default text color */
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
}

/* ---------------------
------------- Main----------------
------------------------------ */

.main {
  width: 70%;
}
.back {
  position: relative;
  top: 0;
  left: 0;

  z-index: -100;

  width: 100%;
  height: 100%;

  pointer-events: none; /* dont block clicks*/
}

.back::after,
.back::before {
  content: '';
  height: 78rem;
  aspect-ratio: 0.8;
  position: absolute;

  z-index: -100;
}

.back::before {
  background: linear-gradient(135deg, var(--gradient-pink-500), var(--gradient-purple-500));
  border-radius: 0 0 50% 50%;

  top: 0;
  left: -6%;
}

.back::after {
  background: var(--secondary-gray-100);
  border-radius: 50% 50% 0% 0%;

  right: -0rem;
  bottom: -87rem;
}

/* ---------------------------------------------------- */
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
  gap: 10rem;
}

.container-mobile {
  width: 90rem;
  border-radius: 4rem;
  box-shadow: 0 0 0.4rem 0.4rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  background: var(--secondary-white);
}

/* ---------------------
-------------Footer----------------
------------------------------ */

footer {
}
.attribution {
  font-size: 1.1rem;

  margin: 2rem 0 1rem 0;
  color: var(--text-gray-500);
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}


/* --------- */
/*  Tablet & medium devices (below desktop size) */
@media (max-width: calc(var(--width-desktop) - 1px)) {

  .container{
  flex-direction: column;
  background: lightblue; /* test color */
}

}

/*  Small mobile screens (375px and below) */
@media (max-width: var(--width-mobile)) {  .container{
  flex-direction: column;
  background: rgb(228, 173, 230); /* test color */
}

}
