*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-fam: "Public Sans", sans-serif;
  --font-w-1: 300;
  --font-w-2: 400;
  --font-w-3: 700;
  --primary-1: hsl(233, 26%, 24%);
  --primary-2: hsl(136, 65%, 51%);
  --primary-3: hsl(192, 70%, 51%);
  --neutral-1: hsl(233, 8%, 62%);
  --neutral-2: hsl(220, 16%, 96%);
  --neutral-3: hsl(0, 0%, 98%);
  --neutral-4: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: var(--font-fam);
}

button {
  border-style: none;
  background: linear-gradient(to bottom right, var(--primary-2), var(--primary-3));
  border-radius: 24px;
  padding: 12px;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.459);
  color: var(--neutral-4);
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
}

.main--nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--neutral-4);
  padding: 20px;
}
.main--nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
.main--nav ul a {
  text-decoration: none;
}
.main--nav ul a:hover {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--primary-2);
}

.first {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: 100%;
  background: hsla(0, 0%, 51%, 0.05);
}

.first--txt {
  grid-column: 1/2;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.first--txt h1 {
  width: 15ch;
}
.first--txt p {
  width: 45ch;
}

.first--img {
  grid-column: 2/-1;
  width: 50%;
}

.first--img #background--img-1 {
  height: 250px;
  z-index: -1;
  position: absolute;
}
.first--img #background--img-2 {
  height: 250px;
  z-index: 1;
}

.second {
  padding: 50px;
  display: grid;
  grid-template-rows: 1fr, 2fr;
  justify-content: space-evenly;
  width: 100%;
  gap: 35px;
  background: hsla(0, 0%, 67%, 0.3);
}

.second--txt h1 {
  padding: 25px 0;
}
.second--txt p {
  width: 65ch;
}

.second--cards {
  width: 100%;
  display: flex;
  gap: 25px;
}
.second--cards .second-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.second--cards .second-card p {
  width: 25ch;
}
.second--cards .second-card #logo {
  width: 55px;
  height: auto;
}

.third {
  padding: 50px;
  background: hsla(0, 0%, 55%, 0.116);
}
.third h1 {
  padding: 25px 0;
}
.third .third--cards {
  display: flex;
  gap: 25px;
}

.third-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}
.third-card img {
  width: 100%;
  height: 100%;
}
.third-card #t-caption {
  font-size: 1.2rem;
  padding: 1rem;
}
.third-card .t-heading {
  padding: 1rem;
}
.third-card .t-heading a {
  color: var(--primary-1);
  text-decoration: none;
}
.third-card .t-heading a:hover {
  color: var(--primary-2);
}
.third-card #t-para {
  padding: 1rem;
  font-size: 1.4rem;
}

footer {
  background: var(--primary-1);
  padding: 20px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
footer .footer-icon {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer-icon #company-logo {
  width: 80px;
  height: auto;
}
footer .footer-icons {
  display: flex;
  gap: 10px;
}
footer .footer-icons #f-icon {
  width: 12px;
}
footer .footer-icons #f-icon:hover {
  background-color: red;
}
footer ul {
  list-style: none;
  font-size: 10px;
}
footer #c-1 {
  grid-column: 2/3;
}
footer #c-2 {
  grid-column: 3/4;
}
footer li {
  padding: 5px;
}
footer li a {
  text-decoration: none;
  color: var(--neutral-4);
}
footer li a:hover {
  color: var(--primary-2);
}
footer .f-end {
  grid-column: 5/6;
  text-align: right;
}
footer .f-end p {
  padding: 25px 0;
  font-size: 10px;
  color: var(--neutral-1);
}

.attribution {
  grid-column: 1/-1;
  font-size: 11px;
  margin: 0 auto;
  color: var(--neutral-1);
}

.attribution a {
  color: var(--neutral-1);
}/*# sourceMappingURL=main.css.map */