/* --------------------
   UTILITIES FOR QUICK USAGE
-------------------- */
.u-bg-surface {
  background-color: var(--color-surface);
}
.u-bg-primary {
  background-color: var(--color-primary);
  color: var(--color-dark-text);
}
.u-color-text {
  color: var(--color-text);
}
.u-color-muted {
  color: var(--color-muted);
}
.u-border {
  border: 1px solid var(--border-color);
}
.u-border-radius {
  border-radius: var(--radius-md);
}
.u-shadow-md {
  box-shadow: var(--shadow-md);
}
.u-shadow-lg {
  box-shadow: var(--shadow-lg);
}
