/* =========================================
   MOBILE BREAKPOINT ≤ 720px
========================================= */

@media (max-width: 720px) {
  .bg-hero {
    background-image: url("./../../images/bg-main-mobile.png") no-repeat;
    background-size: 100% 35dvh;
    background-position: top;
  }

  .app {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .app__preview {
    height: 35dvh;
  }

  .app__form,
  .modal {
    padding: 2.4rem;
  }

  .card {
    border-radius: var(--radius-md);
    padding: 0.6rem;
    width: clamp(24rem, 80vw, 32rem);
  }

  .card__logo {
    width: 4rem;
    margin: 1rem;
  }

  .card--back {
    top: 15%;
    left: 20%;
    transform: translateX(10%);
  }

  .card--front {
    top: 50%;
    left: 40%;
    transform: translateX(-50%);
  }
}
