*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// -----------------------------------------------------------------
//       colors
// -----------------------------------------------------------------
:root {
  // border-radius
  --br: 7rem;
  //  Primary

  --light-CTA-txt: hsl(356, 100%, 66%); // --Light red (CTA text)
  --Very-light-CTA-hover: hsl(
    355,
    100%,
    74%
  ); // - Very light red (CTA hover background)
  --Very-dark-headings: hsl(208, 49%, 24%); // - Very dark blue (headings)

  //  Neutral

  --txt: hsl(0, 0%, 100%); // - White (text):
  --footer-text: hsl(240, 2%, 79%); //  (footer text):
  --body-copy: hsl(207, 13%, 34%); // - Very dark grayish blue (body copy)
  --footer-background: hsl(
    240,
    10%,
    16%
  ); // - Very dark black blue (footer background):

  //  Gradient

  // Background gradient - Intro/CTA mobile nav:

  --Very-light: hsl(13, 100%, 72%); // - Very light red
  --Light: hsl(353, 100%, 62%); // - Light red

  // Background gradient - body:

  --Very-dark: hsl(237, 17%, 21%); // - Very dark gray blue
  --Very-dark-desaturated: hsl(237, 23%, 32%); // - Very dark desaturated blue

  // fonts
  --font-fam-a: "Overpass", sans-serif;
  --font-w-a-1: 300;
  --font-w-a-2: 600;
  --font-fam-b: "Ubuntu", sans-serif;
  --font-w-b-1: 400;
  --font-w-b-2: 500;
  --font-w-b-3: 700;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;

  //   overflow: hidden;
}

body {
  font-size: 1.6rem; //16px
}
#logo-blogr {
  height: 3.2rem;
}
// -----------------------------------------------------------------
//          main
// -----------------------------------------------------------------
//         nav
// -----------------------------------------------------------------
.container-section--1 {
  background: linear-gradient(to bottom, var(--Very-light), var(--Light));
  border-bottom-left-radius: var(--br);
  font-family: var(--font-fam-a);

  .section-1-body {
    height: 35vh;
    width: 100%;
    background-image: url(./images/bg-pattern-intro-desktop.svg);

    background-position: 32% 49.5%;
    background-repeat: no-repeat;
    background-size: 200%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 6rem;
  }
}

.main-header-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 2rem;
}

.buttons {
  button {
    font-family: var(--font-fam-b);
    border: none;
    margin: 0 0.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;

    a {
      color: #fff;
      display: inline-block;
      text-decoration: none;
      font-weight: var(--font-w-b-1);
    }
  }

  .btn-deactive {
    background: transparent;
  }

  .btn-active {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    a {
      color: var(--light-CTA-txt);
    }
  }

  .btn-active:hover {
    background-color: var(--Very-light-CTA-hover);
    a {
      color: #fff;
    }
  }

  .btn-outline {
    background: transparent;
    border: 0.1rem solid #fff;
  }

  .btn-outline:hover {
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    a {
      color: var(--light-CTA-txt);
    }
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  select {
    font-family: var(--font-fam-b);
    background: transparent;
    color: rgb(255, 255, 255);
    border: none;

    // width: 30%;
    padding: 1em;
  }
}

// -----------------------------------------------------------------
//        section--2
// -----------------------------------------------------------------
.container-section--2 {
  height: 100vh;
  overflow: hidden;
  padding: 20rem;
  font-family: var(--font-fam-a);
  h1 {
    text-align: center;
    padding-bottom: 10rem;
    font-weight: var(--font-w-a-2);
    color: var(--Very-dark-headings);
  }
}

.section-2-body {
  display: flex;

  align-items: center;
  justify-content: flex-start;

  position: relative;

  img {
    height: 80vh;
    position: absolute;
    right: -50rem;
  }

  div {
    h2 {
      padding: 2rem 0;
      font-weight: var(--font-w-a-2);
      color: var(--Very-dark-headings);
    }

    p {
      width: 50ch;
      line-height: 1.25;
      font-weight: var(--font-w-a-1);
      padding-bottom: 2rem;
      color: var(--body-copy);
    }
  }
}
// -----------------------------------------------------------------
//        section--3
// -----------------------------------------------------------------
.container-section--3 {
  background: url(./images/bg-pattern-circles.svg) no-repeat bottom left,
    linear-gradient(
      to bottom right,
      var(--Very-dark),
      var(--Very-dark-desaturated)
    );

  border-radius: 0 var(--br) 0 var(--br);

  font-family: var(--font-fam-a);
  height: 47.5vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    height: 65rem;
  }
  div {
    color: white;

    h1 {
      padding: 2rem 0;
    }
    p {
      width: 50ch;
      line-height: 1.25;
      letter-spacing: 0.025em;
      color: var(--txt);
      font-weight: var(--font-w-a-1);
    }
  }
}

// -----------------------------------------------------------------
//        section--4
// -----------------------------------------------------------------
.container-section--4 {
  height: 100vh;
  padding: 20rem;
  font-family: var(--font-fam-a);
  color: var(--Very-dark);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  img {
    height: 65vh;
    position: absolute;
    left: -23rem;
  }

  div {
    h2 {
      padding: 1.2rem 0;
      font-weight: var(--font-w-a-2);
      color: var(--Very-dark-headings);
    }
    p {
      width: 50ch;
      line-height: 1.25;
      // letter-spacing: 0.025em;

      font-weight: var(--font-w-a-1);
      padding-bottom: 2rem;
      color: var(--body-copy);
    }
  }
}

// -----------------------------------------------------------------
//       footer
// -----------------------------------------------------------------
footer {
  background: var(--footer-background);
  color: var(--footer-text);
  border-top-right-radius: var(--br);
  padding-top: 5rem;
  font-family: var(--font-fam-a);

  .container-footer {
    font-size: 1rem;
    padding: 2rem;

    display: flex;
    justify-content: space-evenly;
    color: var(--txt);

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        a {
          text-decoration: none;
          color: var(--footer-text);
          margin-bottom: 0.2em;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
// -----------------------------------------------------------------
.attribution {
  margin: 2rem 0;
  padding-bottom: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
