@use "sass:map";
@use "./tokens" as *;
@use "./functions" as *;
@use "./breakpoints" as *;

/* ==========================================================
   MIXIN → RESPONSIVE (Desktop First)
   ----------------------------------------------------------
   respond-up()   → Enhancements for larger screens
   respond-down() → Overrides for smaller screens
========================================================== */

/* ───────────────
  Min-width query
  Used when scaling UP from desktop
──────────────── */

@mixin respond-up($size) {
  @if map.has-key($breakpoints, $size) {
    @media (min-width: map.get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$size}' does not exist.";
  }
}

/* ───────────────
   Max-width query
   Used to override desktop styles
   for smaller devices
──────────────── */

@mixin respond-down($size) {
  @if map.has-key($breakpoints, $size) {
    @media (max-width: map.get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$size}' does not exist.";
  }
}
/*
example usage

.card {
  padding: 2rem; // mobile base

  @include respond(md) {
    padding: 3rem; // tablet+
  }

  @include respond(xl) {
    padding: 4rem; // desktop+
  }
}
*/

@mixin apply-text($preset) {
  font-family: token-text($preset, family);
  font-size: token-text($preset, size);
  line-height: token-text($preset, line-height);
  letter-spacing: token-text($preset, letter-spacing);
}
