*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // box-sizing: inherit;
}
// @import "Resources/scss/abstract/mixins";
@import "../abstract/variables";
@import "../base/typography";
@import "../abstract/mediaDesktop";
@import "../abstract/mediaTablet";
@import "../abstract/mediaMobile";

html {
  font-size: 62.5%; // if 1 rem = 10px; 10px/16px = 62.5% considering 16px as default browser setting
}
body {
  box-sizing: border-box;
}

.container {
  display: grid;
  // grid-template-columns: repeat(4, 4fr);
  // grid-template-rows: 0.8fr 3.2fr;
}

#logo {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  margin-top: 6rem;
  margin-left: 6rem;
  max-width: 5%;
}

#line {
  grid-row: 1 / 2;
  grid-column: 1 / 4;

  // border-bottom: solid 0.2rem rgba(255, 255, 255, 0.274);
  // width: 45%;

  width: 80rem;
  height: 0.2rem;

  background-color: rgba($ascent-color-2, 0.2);
  backdrop-filter: blur(40px);

  margin-left: 18rem;
  margin-top: 8.4rem;
}

.main-nav-heading {
  grid-row: 1 / 2;
  grid-column: 3 / -1;

  display: flex;
  // justify-content: space-between;
  align-items: center;

  width: 80rem;
  height: 6rem;

  margin-top: 6rem;

  font-size: $nav-font-size;
  color: $ascent-color-2;
  font-family: $font-family-2;
  font-weight: 400;

  ul {
    display: flex;
    align-items: center;

    gap: 5rem;
    padding: 3rem 3rem 3rem 9rem;

    list-style: none;

    background-color: rgba($ascent-color-2, 0.05);
    backdrop-filter: blur(40px);

    &:last-child {
      //   margin-right: 20rem;
      padding-right: 30.8rem;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-family-2;
      color: $ascent-color-2;

      a {
        letter-spacing: 0.16rem;
        color: $ascent-color-2;

        text-transform: uppercase;
        text-decoration: none;
        padding-left: 0.5rem;
      }
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -30px;
        height: 4px;
        width: 100%;

        background: currentColor;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;

        // border-bottom: 4px solid red;
        width: 100%;
      }
    }
  }
}
