@use "../abstracts" as *;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//                       <header>
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
:root {
  --horizontal-line-w: clamp(25%, 35vw, 45%);

  --logo-padding-l: 6.4rem;
  --logo-size-l: 4.8rem;

  --logo-padding-m: 3.2rem;
  --logo-size-m: 4rem;

  --logo-padding-s: 2.4rem;
  // --logo-size-s: 4rem;
}

.c-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    left: 15%;
    // left: 10rem;

    width: var(--horizontal-line-w);

    height: 0.4rem;

    transform: translateY(-50%);

    background: token-color(primary);

    @include glass();
  }

  .c-logo {
    aspect-ratio: 1;

    width: var(--logo-size-l);
    min-width: max-content;

    padding: var(--logo-padding-l);
  }

  .c-nav {
    @include glass();
    padding: token-space(600) token-space(800);
  }
}

// ::::::::::::::::::::::::::::::::::::::::::::::::::
//                   large-desktop-view xxl-90em
// ::::::::::::::::::::::::::::::::::::::::::::::::::
@include respond-down(xxl) {
}

// ::::::::::::::::::::::::::::::::::::::::::::::::::
//                  standard-laptop-view xl-80em
// ::::::::::::::::::::::::::::::::::::::::::::::::::
@include respond-down(xl) {
}
// ::::::::::::::::::::::::::::::::::::::::::::::::::
//                  large-mobile-view md- 48em
// ::::::::::::::::::::::::::::::::::::::::::::::::::
@include respond-down(md) {
  .c-header {
    &::after {
      display: none;
    }
    .c-logo {
      width: var(--logo-size-m);
      padding: var(--logo-padding-m);
    }
  }
}

// ::::::::::::::::::::::::::::::::::::::::::::::::::
//                   small-mobile-view sm-30em
// ::::::::::::::::::::::::::::::::::::::::::::::::::
@include respond-down(sm) {
  .c-logo {
    width: var(--logo-size-s);
    padding: var(--logo-padding-s);
  }
}
