.c-header {
  padding: 1rem 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  #space-logo {
    aspect-ratio: 1;
    width: 4rem;
  }

  #main-horizontal-line {
    width: 50vw;
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0.1);
    position: relative;
    left: 10%;
    z-index: 20;

    // filter: blur(0.3em);
  }
}
