@import 'base/variables';
@import 'base/reset';
@import 'base/global';
@import 'utils/animations';
@import 'layout/dashboard';
@import 'components/profile';
@import 'components/cards';
@import 'layout/footer';


@media (max-width: 900px) {
  .container-dashboard {
    flex-direction: column;
    align-items: center;
  }

  .profile__image #profile-pic {
    width: 5.5rem;
  }

  .container-dashboard__contents {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

@media (max-width: 600px) {
  body {
    justify-content: flex-start;
    height: auto;
    padding: 2rem;
  }

  .profile__name {
    font-size: 2.2rem;
  }

  .cards-content {
    padding: 1.6rem;
  }
}
