*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --primary-color-1: hsl(0, 0%, 100%);
  --primary-color-2: hsl(0, 0%, 0%);
  --primary-color-3: hsl(0, 0%, 55%);
  --primary-color-4: hsl(0, 0%, 41%);
  --font-fam-1: "Alata", sans-serif;
  --font-w-1: 400;
  --font-fam-2: "Josefin Sans", sans-serif;
  --font-w-2: 300; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  font-family: var(--font-fam-2);
  font-weight: var(--font-w-2);
  overflow-x: hidden; }

.spacing--1 {
  padding: 4rem 10rem; }

.spacing--2 {
  padding: 8rem 0rem; }

header .container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .box {
  border: 0.2rem solid var(--primary-color-1);
  padding: 2rem;
  margin: 8rem 0;
  width: 50rem; }
  header .box h1 {
    color: var(--primary-color-1);
    font-family: var(--font-fam-2);
    text-transform: uppercase;
    font-weight: var(--font-w-2);
    font-size: 5.2rem; }

.container-nav img {
  height: 2rem; }

.container-nav ul {
  gap: 1rem; }
  .container-nav ul li {
    list-style: none; }
    .container-nav ul li a {
      text-decoration: none;
      color: var(--primary-color-1);
      font-family: var(--font-fam-1);
      font-size: 1.4rem; }
      .container-nav ul li a:hover {
        border-bottom: 0.2rem solid var(--primary-color-1);
        padding-bottom: 0.5rem; }

.section--1 .section-1-txt {
  width: 56rem;
  background: var(--primary-color-1); }
  .section--1 .section-1-txt h2 {
    text-transform: uppercase;
    font-size: 4.2rem; }
  .section--1 .section-1-txt p {
    padding-top: 4rem;
    font-size: 1.8rem;
    line-height: 1.25; }

.gallery {
  display: grid; }
  .gallery .g-1,
  .gallery .g-2,
  .gallery .g-3,
  .gallery .g-4,
  .gallery .g-5,
  .gallery .g-6,
  .gallery .g-7,
  .gallery .g-8 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .gallery .g-1 p,
    .gallery .g-2 p,
    .gallery .g-3 p,
    .gallery .g-4 p,
    .gallery .g-5 p,
    .gallery .g-6 p,
    .gallery .g-7 p,
    .gallery .g-8 p {
      padding: 2rem;
      color: var(--primary-color-1);
      text-transform: uppercase; }
  .gallery .g-txt-1 p,
  .gallery .g-txt-2 p {
    font-size: 2rem;
    line-height: 1.25; }
  .gallery .g-txt-1 p {
    width: 10ch; }
  .gallery .g-txt-2 p {
    width: 12ch; }

.gallery--heading h2 {
  text-transform: uppercase;
  font-size: 4.2rem; }

.btn button {
  border: 0.2rem solid var(--primary-color-2);
  padding: 0.5rem 3rem;
  text-transform: uppercase;
  color: var(--primary-color-2);
  font-weight: var(--font-w-1);
  font-family: var(--font-fam-1);
  font-size: 1.8rem;
  cursor: pointer;
  background: var(--primary-color-1); }
  .btn button:hover {
    color: var(--primary-color-3);
    background: var(--primary-color-2); }

footer {
  background: var(--primary-color-2);
  color: var(--primary-color-1);
  display: flex;
  flex-direction: column; }
  footer .container-footer {
    display: flex;
    justify-content: space-between; }

.container-footer .container-footer--left img {
  height: 1.4rem; }

.container-footer .container-footer--left ul {
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
  list-style: none; }

.container-footer .container-footer--right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end; }
  .container-footer .container-footer--right ul {
    list-style: none;
    display: flex;
    gap: 1.6rem; }

.container-footer--left ul > li > a {
  text-decoration: none;
  color: var(--primary-color-1);
  font-size: 1.2rem; }
  .container-footer--left ul > li > a:hover {
    border-bottom: 0.2rem solid var(--primary-color-3); }

.container-footer--right p {
  color: var(--primary-color-3);
  font-size: 1.2rem; }

.container-footer--right ul > li > a img {
  height: 1.8rem;
  aspect-ratio: 1; }

.container-footer--right ul > li > a:hover {
  border-bottom: 0.2rem solid var(--primary-color-3); }

.attribution {
  padding-top: 2rem;
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: whitesmoke; }

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
  /* insert styles here */ }

@media only screen and (min-width: 721px) {
  header {
    background: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh; }
    header .container-nav ul {
      display: flex; }
    header .container-nav .btn-menu {
      display: none;
      background: none; }
    header .box {
      margin: 8rem 0; }
  .section--1 picture {
    position: relative; }
    .section--1 picture #desktop-img {
      display: block;
      width: 80rem; }
    .section--1 picture #mobile-img {
      display: none; }
  .section--1 .section-1-txt {
    position: absolute;
    bottom: -15%;
    right: 25%;
    padding: 4rem; }
    .section--1 .section-1-txt h2 {
      padding: 2rem 0;
      width: 20ch;
      line-height: 1.25; }
    .section--1 .section-1-txt p {
      padding: 0; }
  .gallery {
    grid-template-columns: repeat(4, 36rem);
    grid-template-rows: 0.5fr repeat(2, 45rem);
    justify-content: space-between;
    gap: 4rem; }
    .gallery .gallery--heading {
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .gallery .btn {
      grid-row: 1 / 2;
      grid-column: 4 / 5;
      text-align: right; }
    .gallery .g-1,
    .gallery .g-2,
    .gallery .g-3,
    .gallery .g-4 {
      grid-row: 2 / 3; }
    .gallery .g-1 {
      grid-column: 1 / 2;
      background: url(../images/desktop/image-deep-earth.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-2 {
      grid-column: 2 / 3;
      background: url(../images/desktop/image-night-arcade.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-3 {
      grid-column: 3 / 4;
      background: url(../images/desktop/image-soccer-team.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-4 {
      grid-column: 4 / 5;
      background: url(../images/desktop/image-grid.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-5,
    .gallery .g-6,
    .gallery .g-7,
    .gallery .g-8 {
      grid-row: 3 / 4; }
    .gallery .g-5 {
      grid-column: 1 / 2;
      background: url(../images/desktop/image-from-above.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-6 {
      grid-column: 2 / 3;
      background: url(../images/desktop/image-pocket-borealis.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-7 {
      grid-column: 3 / 4;
      background: url(../images/desktop/image-curiosity.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-8 {
      grid-column: 4 / 5;
      background: url(../images/desktop/image-fisheye.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; } }

@media only screen and (max-width: 720px) {
  /* insert styles here */
  header {
    background: url(../images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh; }
    header .container-nav ul {
      display: none; }
    header .container-nav .btn-menu {
      display: block;
      background: none;
      cursor: pointer; }
    header .box {
      margin: 16rem 0; }
      header .box h1 {
        width: 10ch; }
  .spacing--1 {
    padding: 4rem; }
  .spacing--2 {
    padding: 4rem 0rem; }
  .section--1 picture #desktop-img {
    display: none; }
  .section--1 picture #mobile-img {
    display: block;
    width: 100%; }
  .section--1 .section-1-txt {
    padding: 2rem;
    text-align: center; }
    .section--1 .section-1-txt h2 {
      padding: 2rem 0; }
    .section--1 .section-1-txt p {
      padding: 0; }
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr repeat(8, 4fr) 0.5fr;
    gap: 2rem; }
    .gallery .gallery--heading,
    .gallery .g-1,
    .gallery .g-2,
    .gallery .g-3,
    .gallery .g-4,
    .gallery .g-5,
    .gallery .g-7,
    .gallery .g-8,
    .gallery .btn {
      grid-column: span 1; }
    .gallery .gallery--heading {
      grid-row: 1 / 2;
      text-align: center; }
    .gallery .g-1 {
      grid-row: 2 / 3;
      background: url(../images/mobile/image-deep-earth.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-2 {
      grid-row: 3 / 4;
      background: url(../images/mobile/image-night-arcade.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-3 {
      grid-row: 4 / 5;
      background: url(../images/mobile/image-soccer-team.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-4 {
      grid-row: 5 / 6;
      background: url(../images/mobile/image-grid.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-5 {
      grid-row: 6 / 7;
      background: url(../images/mobile/image-from-above.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-6 {
      grid-row: 7 / 8;
      background: url(../images/mobile/image-pocket-borealis.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-7 {
      grid-row: 8 / 9;
      background: url(../images/mobile/image-curiosity.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .g-8 {
      grid-row: 9 / 10;
      background: url(../images/mobile/image-fisheye.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .gallery .btn {
      grid-row: 10 / 11;
      text-align: center; }
  footer .container-footer {
    flex-direction: column;
    align-items: center; }
  .container-footer .container-footer--left img {
    height: 1.8rem; }
  .container-footer .container-footer--left ul {
    gap: 2rem;
    flex-direction: column;
    align-items: center; }
  .container-footer .container-footer--right {
    padding-top: 4rem;
    align-items: center; } }
