/* ************************
   For Tablets:
   ************************ */

/* 1536x2048 Devices (iPad 3) */
@media only screen and (device-width: 96rem) and (device-height: 128rem) {
  /* iPad 3 Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}

/* 768x1024 Landscape Tablets (iPad 1 & 2) */
@media only screen and (device-width: 48.8rem) and (device-height: 64.6rem) and (orientation: landscape) {
  /* iPad 1 & 2 Landscape Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}

/* 768x1024 Portrait Tablets (iPad 1 & 2) */
@media only screen and (device-width: 48.8rem) and (device-height: 64.6rem) and (orientation: portrait) {
  /* iPad 1 & 2 Portrait Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}
