/* ************************
   For Desktops:
   ************************ */

/* 1920x1080 Desktops */
@media screen and (max-width: 120rem) {
  /* 1920x1080 Desktop Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}

/* 1680x1050 Desktops */
@media screen and (max-width: 105rem) {
  /* 1680x1050 Desktop Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}

/* 1440x900 Desktops */
@media screen and (max-width: 90rem) {
  /* 1440x900 Desktop Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}

/* 1366x768 Desktops */
@media screen and (max-width: 85.4rem) {
  /* 1366x768 Desktop Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}

/* 1280x720 Desktops */
@media screen and (max-width: 80rem) {
  /* 1280x720 Desktop Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}

/* 1600x900 Desktops */
@media screen and (max-width: 100rem) {
  /* 1600x900 Desktop Styles */
  .container {
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 0.8fr 3.2fr;
  }
}
