/* =========================================
   BUTTON COMPONENT
========================================= */

.button {
  width: 100%;
  padding: 1.2rem;
  margin-top: 2.5rem;

  font-size: 1.5rem;

  cursor: pointer;

  border: none;
  border-radius: var(--radius-md);
  transition: background 0.3s ease;
}

.button:hover {
  color: var(--color-white);
  background: hsl(278, 60%, 25%);
}

.button--primary {
  background: var(--very-dark-violet);
  color: var(--color-white);
}
