/* =========================================
   CARD COMPONENT
========================================= */

.card {
  width: 100%;
  max-width: 42rem;
  aspect-ratio: 16 / 9;

  border-radius: var(--radius-lg);
  padding: var(--space-md);

  position: absolute;

  color: var(--color-white);
  background-size: cover;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
}

.card--front {
  background-image: url("./../../images/bg-card-front.png");

  left: 25%;
  top: 10%;
}

.card--back {
  background-image: url("./../../images/bg-card-back.png");

  left: 30%;
}

.card__logo {
  width: 6rem;
}

.card__number {
  position: absolute;
  bottom: 35%;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.card__meta {
  position: absolute;
  bottom: 15%;
  width: 90%;

  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
}

.card__cvc {
  position: absolute;
  right: 10%;
  bottom: 45%;
}
