/* =========================================
   CARD COMPONENT
========================================= */

.card {
  width: clamp(26rem, 32vw, 42rem);
  aspect-ratio: 16 / 9;

  border-radius: var(--radius-lg);
  padding: var(--space-md);

  position: absolute;

  color: var(--color-white);
  background-size: cover;
  background-position: center;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
}

.card--front {
  background-image: url("./../../images/bg-card-front.png");

  top: 25%;
  left: 50%;
  transform: translate(-30%, -50%);
  z-index: 2;
}

.card--back {
  background-image: url("./../../images/bg-card-back.png");

  top: 75%;
  left: 50%;
  transform: translate(10%, -50%);

  z-index: 1;
}

.card__logo {
  width: clamp(4rem, 6vw, 6rem);
}

.card__number {
  position: absolute;
  bottom: 35%;
  font-size: clamp(1.6rem, 2vw, 2rem);
  letter-spacing: 0.2rem;
}

.card__meta {
  position: absolute;
  bottom: 15%;
  width: 90%;

  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
}

.card__cvc {
  position: absolute;
  right: 10%;
  bottom: 45%;
}
