/* =========================================
   THANK YOU STATE
========================================= */

#thank-you-section {
  text-align: center;
}

#thank-you-section h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

#thank-you-section p {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 3rem;
}
