/* =========================
   CONTAINER
========================= */

.l-container {
  width: min(120rem, 90%);
  margin-inline: auto;
}

/* =========================
   STACK (vertical spacing)
========================= */

.l-stack > * + * {
  margin-top: var(--space, 1rem);
}

/* =========================
   CLUSTER
========================= */

.l-cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

/* =========================
   SIDEBAR
========================= */

.l-sidebar {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
}

/* =========================
   SWITCHER
========================= */

.l-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.l-switcher > * {
  flex-grow: 1;
  flex-basis: 250px;
}

/* component layout */
.l-body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  height: 100vh;
}

/* ======================
   HEADER Layouts
====================== */

.l-header {
  position: relative;
  padding-block: var(--header-padding);
}

.l-header::after {
  content: "";
  position: absolute;
  inset-inline: 0;

  top: calc(var(--header-padding) + var(--header-divider-offset));

  border-bottom: 0.2rem solid var(--color-light-gray);
  opacity: 0.5;
}

.l-nav {
}

.l-nav__item-list {
  padding-left: 4rem;
}

.l-cart {
  top: 80%;
  right: 0;

  padding: 2rem;

  width: min(28rem, 90vw);

  background: var(--color-white);
  border-radius: 1rem;

  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}
