@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("./components.css");
@import url("./layout.css");

:root {
  --font_a: "Bricolage Grotesque", sans-serif;
  --font-variation-settings_a: "wdth" 100;
  --font_b: "DM Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-style: normal;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  font-family: var(--font_a);
}
