@media (min-width: 721px) {
  .hero-img-container {
    .hero-img-desktop {
      display: block;
      width: 50%;
      height: 50%;
      // object-fit: contain;
    }
    .hero-img-mobile {
      display: none;
    }
  }

  .hamburger-button {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  //   body {
  //     font-size: 1.6rem; /* Adjust font size for smaller screens */
  //   }
  .hamburger-button {
    position: fixed;
    right: 4rem;
    z-index: 4;

    #nav-toggle {
    }
    .nav-checkbox {
      display: none;
    }
    .nav-checkbox:checked ~ .nav-background {
      transform: scale(2);
      display: block;
      // opacity: 0.8;
    }
    .nav-checkbox:checked + .nav-button .nav-icon {
      background: transparent;
    }
    .nav-checkbox:checked + .nav-button .nav-icon::before {
      transform: rotate(45deg);
      top: 0;
    }
    .nav-checkbox:checked + .nav-button .nav-icon::after {
      top: 0;
      transform: rotate(-45deg);
    }
    .nav-button {
      height: 6rem;
      aspect-ratio: 1;
      // border-radius: 50%;
      text-align: center;
      cursor: pointer;
      z-index: 10;

      .nav-icon {
        position: relative;
        margin-top: 3.25rem;

        &,
        &::before,
        &::after {
          width: 3rem;
          height: 0.2rem;

          background: #000000;
          display: inline-block;
        }

        &::before,
        &::after {
          content: " ";

          position: absolute;
          left: 0;
          // bottom: 0;
          transition: all 0.2s;
        }

        &::before {
          top: -1rem;
        }
        &::after {
          top: 1rem;
        }
      }

      &:hover .nav-icon::before {
        top: -1rem;
      }

      &:hover .nav-icon::after {
        top: 1rem;
      }
    }
    .nav-background {
      display: none;
      z-index: -20;
      height: 100%;
      //  width: 8rem;
      padding: 12rem;
      //  aspect-ratio: 1 / 2.5;

      border-radius: 0.2rem;

      position: fixed;
      top: 36rem;
      right: 0rem;
      //  transform: translateX(-4rem);

      //

      background: #fff;
      box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);

      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); //animation
    }
  }
  // -----------------------------------------------------
  header {
    position: relative;
  }

  .dropDowns {
    position: absolute;
    display: none;
    top: 10rem;
    right: 20%;
    transform: translateX(-20%);
  }

  .btn-container {
    position: fixed;
    bottom: 10%;
    right: 10%;
    transform: translateX(-10%);
    width: 40%;
  }

  .dropDown-options {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    li {
      padding: 1rem;
      width: auto;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .dropDown-spacing-1 {
    margin-top: 14rem;
  }
  .dropDown-spacing-2 {
    margin-top: 10rem;
  }

  // =================

  // ---------------------------

  header {
    padding: 3rem; /* Reduce header padding for smaller screens */

    .container-nav-main {
      display: none;
    }
    .btn-container {
      display: none;
    }

    //////////////////
    ///

    .dropDowns-visible {
      display: inline-flex;
      flex-direction: column;
      z-index: 15;

      //  opacity: 1;
    }

    .btn-container-visible {
      display: inline-flex;
      flex-direction: column;
      z-index: 15;
      // gap: 2rem;
      //  opacity: 1;

      // position:;
    }
  }

  .container-nav {
    gap: 4rem; /* Decrease gap between elements in navigation for smaller screens */
  }

  // .dropDown-options {
  //   left: 50%; /* Adjust dropdown position for smaller screens */
  //   transform: translateX(-50%);
  // }

  main {
    padding: 0rem; /* Reduce main padding for smaller screens */
    grid-template-columns: 1fr; /* Switch to single column layout for smaller screens */
    grid-template-rows: auto; /* Allow main content to grow vertically */
    gap: 0rem; /* Decrease gap between main elements for smaller screens */

    .main-txt-body {
      grid-row: 2 / 3;

      align-items: center;
      gap: 2rem;
      h1 {
        font-size: 4rem; /* Decrease heading font size for smaller screens */
      }
      p {
        text-align: center;
      }

      .btn-full--black {
        background: black;
        border: none;
        a {
          color: white;
        }
      }
    }

    .clients-logos {
      padding: 2rem 0;
      flex-wrap: wrap; /* Allow logos to wrap to next line on smaller screens */
    }

    .hero-img-container {
      grid-row: 1 / 2;
      .hero-img-desktop {
        display: none; /* Hide desktop image on smaller screens */
      }
      .hero-img-mobile {
        display: block;
        max-width: 50rem;
      }
    }
  }

  .background-blur-effect {
    background-color: rgba(0, 0, 0, 0.5);
    // opacity: 00.2;
    // background-blend-mode: overlay;
    // z-index: 50;
  }
}
