@use "../abstracts" as *;

.l-container {
  width: min(100% - 4rem, $container-width);
  margin-inline: auto;
}

.l-section {
  width: min(1200px, 90%);
  margin-inline: auto;
  padding: 2rem 0;
  margin: 20rem;
}

.l-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.l-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-grid {
  display: grid;
}
.u-flex {
  display: flex;
}
