@use "../abstracts" as *;

.l-container {
  width: min(100% - 4rem, $container-width);
  margin-inline: auto;
}

.l-section {
  width: min(1200px, 90%);
  margin-inline: auto;
  padding: 2rem 0;
  margin: 20rem;
}
